name: Main

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Get just
        uses: extractions/setup-just@v2
      - name: Get rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Run check
        run: just check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Get just
        uses: extractions/setup-just@v2
      - name: Get rust toolchain
        id: nightly
        run: echo "version=$(just nightly-version)" >> $GITHUB_OUTPUT
      - name: Checkout rust-toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ steps.nightly.outputs.version }}
          components: clippy
      - name: Run clippy
        run: just clippy

  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Get just
        uses: extractions/setup-just@v2
      - name: Get rust toolchain version
        id: nightly
        run: echo "version=$(just nightly-version)" >> $GITHUB_OUTPUT
      - name: Checkout rust-toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ steps.nightly.outputs.version }}
          components: rustfmt
      - name: Run format
        run: just format

  hack:
    name: Check features
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Get just
        uses: extractions/setup-just@v2
      - name: Checkout rust-toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Get cargo-hack
        uses: taiki-e/install-action@cargo-hack
      - name: Run hack
        run: just hack
  test:
    name: Bulid and test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Get just
        uses: extractions/setup-just@v2
      - name: Get Solana version
        id: solana
        run: echo "version=$(just solana-version)" >> $GITHUB_OUTPUT
      - uses: metaplex-foundation/actions/install-solana@v1
        with:
          cache: true
          version: ${{ steps.solana.outputs.version }}
      - name: Build and Test
        run: just test
